<div class="card pokemon-card" (click)="descriptionPokemon(pokemon.name)">
  <div class="card-header pokemon-card-header">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ pokemon.sprites.front_default }}" class="img-fluid" alt="Imagem responsiva">
      </div>
      <div class="col-sm-6">
        <h5 class="pokemon-margin-top-title">
          <strong>
            {{ pokemon.name | titlecase }}
          </strong>
        </h5>
      </div>
      <div class="col-sm-2">
        <i 
          *ngIf="!openDescription"
          class="fas fa-plus"
          aria-hidden="true">
        </i>
        <i 
          *ngIf="openDescription"
          class="fas fa-minus"
          aria-hidden="true">
        </i>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="openDescription">

    <div class="row">
      <div class="col-sm-12">
        <p class="pokemon-font-blue-color">
          <strong>
            Order:
          </strong>
          {{ pokeinfos.order }}
        </p>
      </div>
      <div class="col-sm-6">
        <p class="pokemon-font-blue-color">
          <strong>
            Height:
          </strong>
          {{ pokeinfos.height }}
        </p>
      </div>
      <div class="col-sm-6">
        <p class="pokemon-font-blue-color">
          <strong>
            Weight:
          </strong>
          {{ pokeinfos.weight }}
        </p>
      </div>
    </div>
  </div>
</div>