/* You can add global styles to this file, and also import other style files */

.pokemon-margin {
  margin-top: 5px;
  margin-bottom: 5px;;
}

.pokemon-centered {
  text-align: center;
}
.pokemon-menu-color {
  background-color: #2d4059;
}
.pokemon-button-blue-color {
  background-color:#2d4059 ;
  color: #e5e5e5;
}

.pokemon-font-blue-color {
  color: #2d4059;
}

.pokemon-font-white-color {
  color: #e5e5e5;
}